body{
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "Times New Roman", serif;
}

.envelope{
    position:relative;
    width:350px;
    height:220px;
    background:#f08080;
    cursor:pointer;
    perspective:1000px;
}

.cover{
    position:absolute;
    width:100%;
    height:100%;
    background:#e06666;
    transform-origin:top;
    transition:1s;
}

.letter{
    position:absolute;
    background:white;
    width:90%;
    height:180px;
    top:20px;
    left:5%;
    padding:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    transform:translateY(100px);
    opacity:0;
    transition:1s;
}
#text{
    white-space: pre-line;
    line-height: 1.6;
    font-size:16px;
}